@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    .imagen{
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        height: 20vh;
        @include m.tablet{
            height: auto;
        }
    }
    .app{
        width: 100%;
        margin: 0 auto;
        padding: 3rem 2rem;
        @include m.tablet{
            overflow-y: scroll;
        }
    }
}

.barra{

    margin: v.$separacion 0;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a{
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios{

    margin-bottom: v.$separacion;

    @include m.tablet{
        display: flex;
        justify-content: space-around;
    }
    a{
        margin: 1rem auto;
    }
}